body{
    background-image: url(https://t3.ftcdn.net/jpg/01/60/23/50/360_F_160235011_AiuNNEE6pMLB25sCmu70ULTxMvKayc9y.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    
}
